@charset 'UTF-8';
@import 
    'functions',
    'variables',
    'mixins',
    'typography';
@import
    'components/button-override',
    'components/popover-override',
    'components/form-override',
    'components/table-override',
    'components/navigation';
@import 
    'containers/login',
    'containers/registration',
    'containers/home',
    'containers/bankingInfo';

.fixed-top-height{
    height:125px;
}
.fixed-height{
    top:125px;
}
.clear-gutter{
    padding-left: 0px;
    padding-right: 0px;
}
.dummy-height{
    height: 0px!important;
}
.new{
    margin: 0px!important;
}
.cq-placeholder, .new{
    margin: 0px!important;
    height: 0px!important;
}

